<h1 class="center" *ngIf="currentURL === '/portfolio'" >Portfolio</h1>
<!-- Set wide class if on home page -->
<div [ngClass]="{'wide' : (currentURL === '/') }" >
  <!-- Change bg color if on home page -->
  <div [ngClass]="{'secondary-bg' : (currentURL === '/') }" >
    <!-- Add padding if on home page -->
    <div *ngIf="currentURL === '/'"><br></div>

    <ul *ngIf="tmpUsrData">
      <li *ngFor="let usr of tmpUsrData" >
        <img [src]="usr.avatar" width="50px">
        {{usr.first_name}} {{usr.last_name}}
      </li>
    </ul>
    <p *ngIf="!tmpUsrData" class="error">*tmpUsrData not loaded!</p>

    <!-- Add padding if on home page -->
    <div *ngIf="currentURL === '/'"><br></div>

  </div>
</div>

